@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "IBM Plex Sans", sans-serif;
}

.fade-in {
  animation: fadeIn 0.5s ease-in forwards;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* navbar */

.navbar-container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:static;
  width: 100%;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 20;
}

.navbar-group::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  z-index: 1;
}

.navbar-group:hover .navbar-group-part,
.navbar-group:hover::before {
  display: block;
}

@keyframes dropdown-fade-in {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.navbar-group-part {
  display: none; /* Initially hidden */
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1s ease, transform 1s ease;
}

.navbar-group:hover .navbar-group-part {
  display: block;
  animation: dropdown-fade-in 0.3s ease forwards;
}

@media only screen and (max-width: 900px) {
  .desktop-nav {
    display: none !important;
  }
  .mobile-nav {
    display: flex !important;
  }
}

/* Hide scrollbar for modern browsers */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

/* HOME PAGE */

@keyframes Flikker {
  0% {
    transform: translateY(-30);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

/* ORANGE BUTTON */

.OrangeButton {
  transform: translateY(-850px);
}

.OrangeButton.visiblebutton {
  transform: translateY(0px);
  transition: all 2s linear;
}

@keyframes ArrowFlikker {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-15px);
    opacity: 0.5;
  }
}

