@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
  animation: fadeIn 0.5s ease-in forwards;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Footer Css */
/* Footer Style */
.footer {
  background-color: #0d1b2a;
  color: #ffffff;
  padding: 50px 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-section {
  flex: 1;
  padding: 0 30px;
}

.footer-section h3 {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 1.2em;
  border-bottom: 1px solid white;
  display: inline-block;
  padding-bottom: 5px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 10px 0;
}

.footer-section ul li a {
  color: #ff6347;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #ffffff;
}

.logo-description {
  max-width: 300px;
}

.logo {
  font-size: 1.8em;
  font-weight: bold;
}

.social-icons a {
  color: #ffffff;
  font-size: 20px;
  margin-right: 18px;

  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ff6347;
}

.footer-section p i {
  color: #ff6347;
  margin-right: 10px;
}

.footer-section p {
  margin: 20px 0;
  color: #ffffff;
  font-size: 1rem;
}
